/* ------------------------------------------ */
/* COLORS */
:root {
    --primary-bg-color: #FDF9F1;
    --secondary-bg-color: #FFF;
    --primary-font-color: #222222;
    --primary-button-color: #D4E377;
    --accent-color-one: #EF5A30;
    --accent-color-two: #FEAE33;
}

/* ------------------------------------------ */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ------------------------------------------ */
/* GENERAL STYLES */
body {
    margin: 0;
    font-family: 'Moderat', sans-serif;
    font-family: 'Roboto', sans-serif; 
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

header {
    font-family: 'Tusker Grotesk';
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-font-color);
    color: white;
    font-family: 'Inter', sans-serif; 
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* TEAM SECTION */
.team-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: center; 
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.team-section > .team-member:nth-last-child(-n+2) {
    grid-column: span 1;
    justify-self: center; 
}

@media (max-width: 768px) {
    .team-section {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .team-section {
        grid-template-columns: 1fr; 
    }
}

/* TEAM ROLES & TEAM LINKS */
.sections-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px; 
}

section {
    flex: 1 1 45%; 
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    font-family: 'Moderat', sans-serif;
    font-weight: bold;
    font-family: 'Moderat', sans-serif; 
    margin-bottom: 20px;
}

ul {
    list-style: disc; 
    padding-left: 20px; 
    margin: 0;
}

li {
    margin: 10px 0;
    text-align: left; 
}

a {
    color: var(--accent-color-one);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-two);
}
